body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.section {
  width: 970px;
  margin: 0 auto;
  text-align: left;
}

.section>blockquote {
  padding-left: 20px;
  border-left: 5px solid #eee;
  font-size: 17.5px;
}

.section code {
  color: #c7254e;
  display: block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}