<!DOCTYPE html>
<html>
<head>
  <title>FREE Code Camp URL Shortener Microservice</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
<body>
    <div class="App container">
      <header class="App-header">
        <img src="/logo.svg" class="App-logo" alt="logo" />
        <h1 class="App-title">FreeCodeCamp API Basejump: URL Shortener Microservice</h1>
      </header>
      <section class="section">
        <blockquote>
          User stories:
          <ul>1) I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.</ul>
          <ul>2) When I visit that shortened URL, it will redirect me to my original link.</ul>
        </blockquote>
        <div>
          <h3>Example usage:</h3>
          <code>https://kyawzintun.github.io/short/https://www.google.com</code>
          <code>https://kyawzintun.github.io/short/https://www.facebook.com</code>
        </div>
        <div>
          <h3>Example output:</h3>
          <code>{"original_url":"http://facebook.com", "short_url":"https://kzt-shorturl.herokuapp.com/8170"}</code>
        </div>
        <div>
          <h3>Usage:</h3>
          <code>https://kzt-shorturl.herokuapp.com/8170</code>
        </div>
        <div>
          <h3>Will redirect to::</h3>
          <code>http://facebook.com</code>
        </div>
      </section>
    </div>
</body>
</html>
